<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - Willem's Fizzy Logic</title>
    <link rel="stylesheet" href="~/css/site.css">
    @RenderSectionAsync("Head")
</head>

<body>
    @RenderBody()
    @RenderSectionAsync("Scripts")
</body>

</html>
