<div id="app">Loading...</div>

@section Head {
    <base href="/Admin" />
}

@section Scripts {
    <script src="/_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
    <script src="/_framework/blazor.webassembly.js"></script>
}